@charset "UTF-8";

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: auto;
}
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
.v73_3 {
  width: 100%;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.v11_177 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
}
.v11_178 {
  width: 190px;
  height: 100px;
  background: rgba(255,235,187,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 913px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  overflow: hidden;
}
.v11_179 {
  width: 88px;
  height: 100px;
  background: rgba(255,176,104,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 927px;
  overflow: hidden;
}
.v11_180 {
  width: 31px;
  height: 100%;
  background: rgba(255,216,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 93px;
}
.v11_181 {
  width: 31px;
  height: 100%;
  background: rgba(255,176,104,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 62px;
}
.v11_182 {
  width: 62px;
  height: 100%;
  background: rgba(255,156,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v11_183 {
  width: 927px;
  height: 100px;
  background: rgba(255,156,65,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
  overflow: hidden;
}
.v11_184 {
  width: 642px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 233px;
  border: 1px solid rgba(255,202,154,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v11_185 {
  width: 200px;
  height: 50px;
  background: rgba(255,235,187,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 1320px;
  border: 1px solid rgba(255,202,154,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v13_258 {
  width: 200px;
  height: 50px;
  background: rgba(255,235,187,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 1121px;
  border: 1px solid rgba(255,202,154,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v13_262 {
  width: 150px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 464px;
  border: 1px solid rgba(255,202,154,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_186 {
  width: 200px;
  height: 50px;
  background: rgba(255,235,187,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 1521px;
  border: 1px solid rgba(255,202,154,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_187 {
  width: 200px;
  height: 50px;
  background: rgba(255,235,187,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 1720px;
  border: 1px solid rgba(255,202,154,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_188 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 1647px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11_189 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 1804px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11_190 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 1147px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v13_259 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 462px;
  left: 451px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v11_191 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 1341px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v11_192 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 1543px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v11_193 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 1743px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v11_194 {
  width: 189px;
  height: 172px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 19px;
  overflow: hidden;
}
.v11_195 {
  width: 807px;
  height: 325px;
  background: rgba(255,237,222,1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 1015px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_202 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 1065px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_203 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 1065px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_204 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 424px;
  left: 1064px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_205 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 1064px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_206 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 525px;
  left: 1064px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_198 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 266px;
  left: 1036px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_199 {
  width: 743px;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 1048px;
  border: 3px solid rgba(0,0,0,1);
}
.v12_207 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 332px;
  left: 1082px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_210 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 1082px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_211 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 434px;
  left: 1082px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_212 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 484px;
  left: 1082px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_213 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 535px;
  left: 1082px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_209 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 332px;
  left: 1661px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_218 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 1661px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_219 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 434px;
  left: 1661px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_220 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 484px;
  left: 1662px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_221 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 535px;
  left: 1662px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_208 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 332px;
  left: 1179px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_214 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 1179px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_215 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 434px;
  left: 1179px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_216 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 484px;
  left: 1179px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_217 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 535px;
  left: 1179px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_222 {
  width: 807px;
  height: 325px;
  background: rgba(255,237,222,1);
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 1013px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v12_223 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 1063px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v12_224 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 760px;
  left: 1063px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v12_225 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 811px;
  left: 1062px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v12_226 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 861px;
  left: 1062px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v12_227 {
  width: 709px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 912px;
  left: 1062px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v12_228 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 655px;
  left: 1047px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_257 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 643px;
  left: 471px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v12_229 {
  width: 743px;
  opacity: 1;
  position: absolute;
  top: 685px;
  left: 1046px;
  border: 3px solid rgba(0,0,0,1);
}
.v12_230 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 719px;
  left: 1080px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_231 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 770px;
  left: 1080px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_232 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 821px;
  left: 1080px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_233 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 871px;
  left: 1080px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_234 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 922px;
  left: 1080px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_235 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 719px;
  left: 1659px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_236 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 770px;
  left: 1659px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_237 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 821px;
  left: 1659px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_238 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 871px;
  left: 1660px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_239 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 922px;
  left: 1660px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_240 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 719px;
  left: 1177px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_241 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 770px;
  left: 1177px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_242 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 821px;
  left: 1177px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_243 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 871px;
  left: 1177px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_244 {
  width: 440px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 922px;
  left: 1177px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_245 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 271px;
  left: 1716px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v12_247 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 656px;
  left: 1721px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v13_252 {
  width: 312px;
  height: 208px;
  background: url("../images/v13_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 719px;
  left: 565px;
  overflow: hidden;
}
.v13_254 {
  width: 317px;
  height: 211px;
  background: url("../images/v13_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 719px;
  left: 235px;
  overflow: hidden;
}
.v13_250 {
  width: 430px;
  height: 273px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 685px;
  left: 347px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v13_264 {
  width: 321px;
  height: 179px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 388px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  overflow: hidden;
}
.v13_260 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 243px;
  left: 292px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
