/.metadata/
javaWorkspace/.metadata/
**/.settings/
**/bin/
*.project
*.classpath
setup/
miniTemp/
htmlRepo/media/
cssRepo/media/
*.jar
log.txt
**/Servers/
*.MF
webRepo/**/.gitignore
mvn/mvnLib/
mvnLib/
**/target/
*.springBeans
**/test/
*.log

